@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/Inter-400.woff2");
    font-display: swap;
}

@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/Inter-700.woff2");
    font-display: swap;
}

@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 900;
    src: url("../fonts/Inter-900.woff2");
    font-display: swap;
}

html {
    height: 100%;
}

body {
    font-family: Inter, Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #2D3440;
    background: #FEAFC3;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.blue_bg {
    background: #69A9FF;
}
.yellow_bg {
    background:#FCC850;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.page-footer {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    padding: 0;
    width: 1366px;
}

.footer-social-list {
    margin-right: auto;
    width: 104px;
    display: flex;
    flex-direction: row;
}

.main-container {
    flex-grow: 1;
}

.page-header {
    display: flex;
    width: 1170px;
    margin: 0 auto;
}

.modal-container {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    height: 100%;
    background: rgba(45, 52, 64, 0.3);
}


.modal {
    position: relative;
    margin: auto;
    padding: 64px;
    background-color: #FCFCFC;
    box-shadow: 0px 15px 40px rgba(45, 52, 64, 0.12);
    border-radius: 8px;
}
.modal-feedback {    
    width:570px;
}

.modal-close-button {
    position: absolute;
    padding: 0;
    top: 0;
    right: 0;
    width: 56px;
    height: 44px;
    background-color: #FCFCFC;
    border: none;
    background: url("../img/icons/cross.svg") no-repeat center;
    cursor: pointer;
} 
.modal-content-form {
    display: grid;
    grid-template-rows: min-content min-content min-content min-content min-content;
    row-gap: 16px;
}
.modal input, .modal textarea{
    font-size: 16px;
    line-height: 20px;
    padding: 14px 16px;
}
.modal textarea{
    min-height: 150px;
    resize: none;  
}

.modal-content-form button{
    justify-self: end;
}

.modal-container-close {
    display: none;
}
  
.navigation {
    justify-content: center;
    display: flex;
    margin: 0;
    width: 100%;
}

.navigation-list {
    display: flex;
    flex-wrap: wrap;
    width: 430px;
    margin: 0;
    padding: 0;
    list-style-type: none;
    justify-content: flex-start;    
    align-items: center;
}


.navigation-link {
    padding: 8px 16px;
    margin: 0 2px;
    display: flex;
    justify-content: center;
}

.navigation-link:hover {
    background: rgba(252, 252, 252, 0.5);
    cursor: pointer;
    border: 0;
    border-radius: 26px;
    padding: 8px 16px;
    margin: 0 2px;
    color:inherit
}
.navigation-link:focus {
    background: rgba(252, 252, 252, 0.5);
    cursor: pointer;
    outline: 2px solid #2D3440;
    border-radius: 26px;
    padding: 8px 16px;
    margin: 0 2px;
}
.navigation-link:active {
    background: rgba(252, 252, 252);
    cursor: pointer;
    outline: 0;
    border-radius: 26px;
    padding: 8px 16px;
    margin: 0 2px;
}

.navigation-item img {
    margin: 0 8px;
}

.navigation-item {
    position: relative;
}
.navigation-user {
    width: 290px;
    gap: 16px;
    justify-content: flex-end;
}
.navigation-user span {
    margin: 0 8px 0 0;
}
.navigation-user .navigation-link {
    background-color: rgba(252, 252, 252, 0.3);
    border-radius: 26px;
    min-width: 20px;
    min-height: 20px;
    text-align: center;
    padding: 7px 7px;
    display:flex;    
    align-items: center;
    justify-content: center;    
    margin: 0 2px;
}

.navigation-user .navigation-link:hover {    
    padding: 7px 7px;
    display: flex;    
    align-items: center;
    justify-content: center;
    background: rgba(252, 252, 252, 0.5);
    cursor: pointer;
    border: 0;
    border-radius: 26px;    
    margin: 0 2px;
}
.navigation-user .navigation-link:focus {    
    padding: 7px 7px;
    display: flex;    
    align-items: center;
    justify-content: center;
    background: rgba(252, 252, 252, 0.5);
    cursor: pointer;
    outline: 2px solid #2D3440;
    border-radius: 26px;
    margin: 0 2px;
}
.navigation-user .navigation-link:active {    
    padding: 7px 7px;
    display: flex;    
    align-items: center;
    justify-content: center;
    background: rgba(252, 252, 252);
    cursor: pointer;
    outline: 0;
    border-radius: 26px;
    margin: 0 2px;
}

.popover {
    position: absolute;
    top: 40px;
    right: 0;
    z-index: 1;
    box-sizing: border-box;
    padding: 24px 16px;
    color: inherit;
    background: #FCFCFC;
    min-height: 96px;
    box-shadow: 0px 15px 40px rgba(45, 52, 64, 0.12);
    border-radius: 4px;
    display: none;
}

.popover-login {
    width: 420px;
    padding: 0;
    grid-template-columns: 32px 1fr 32px;
    grid-template-rows: 32px min-content min-content min-content min-content 32px;
    grid-gap: 16px;
    display: none;
}
.popover-search {
    width: 356px;
    box-shadow: 0px 8px 16px rgba(45, 52, 64, 0.12);
}

.popover-search .delete-button {
    position:absolute;
    right: 30px;
    top: 44%;
    opacity: 0.4;
}

.popover-search .delete-button:hover {
    opacity: 1;
}

.popover-menu-list {
    left: 0;
    top: 38px;
    flex-direction: column;
    width: 138px;
    font-size: 14px;
    line-height: 20px;
    padding: 0;
    list-style-type: none;
    display: none;
}

.navigation-link-popover:hover ~ .popover{
    display: grid;
}


.popover-menu-list h2{
    margin:0;
    font-size: 14px;
    line-height: 20px;
    border-bottom: 1px solid #B9B9B9;
    padding: 0 0 12px 0;
}

.popover-menu-item:first-of-type {
    padding: 8px 16px 0;
    border-radius: 4px 4px 0 0 ;
}
.popover-menu-item:last-of-type {
    border-radius: 0 0 4px 4px ;
}

.popover-menu-item {
    display: flex;
    align-items: center;
    padding: 8px 16px;
}
.popover-navigation-link{
    color:inherit;
    text-decoration: none;
}

.popover-menu-item:hover{
    background: #FFCBD8;
}

.popover-menu-item:active{
    background: #FF7799;
}
.popover-menu-cuurent {
    color: #FCFCFC;
    background: #FF7799;
}

.popover-cart{
    padding: 0;
    text-align: center;
    width: 288px;
}
.popover-cart h2 {
    margin: 48px;
    box-sizing: border-box;    
}
.popover-catalog {     
    position: absolute;    
    top: 40px;
    padding: 0;
    grid-template-columns: 32px max-content 32px;
    grid-template-rows: 32px min-content min-content min-content min-content 32px;
    grid-gap: 16px;
    right: 0;
    z-index: 1;
    box-sizing: border-box;
    color: inherit;
    background: #FCFCFC;
    border-radius: 4px;
    text-align: left;
    display: none;
}


.popover-catalog-list {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    list-style-type: none;
    grid-column: 2/3;
    grid-row: 3/4;
 }
  
.popover-catalog-item {
    display: grid;
    grid-template-columns: 180px 55px 20px;
    grid-gap: 50px;
    align-items: center;
 }
.popover-catalog-item:not(:last-child) {
    margin: 0 0 32px 0;
}
.popover-catalog-item:last-child {
    padding: 0 0 32px 0;
    border-bottom: 1px solid #E7E7E7;
}  
.popover-item-descr {
    grid-column: 1/2;
    display: flex;
}
.popover-catalog-price {
    grid-column: 2/3;
}
.popover-catalog-item button {
    grid-column: 3/4;
}
.popover-catalog .popover-title{
    grid-column: 2/3;
    grid-row: 2/3;
    margin: 0 0 16px 0;
}

.popover-item-title span {
    font-size: 14px;
    font-weight: 400; 
    line-height: 20px;
    margin:0;
}
.popover-item-title {
    display: flex;
    flex-direction: column;
}
.delete-button {
    width: 16px;
    height: 16px;
    background-color: #FCFCFC;
    border: none;
    background: url("../img/icons/cross.svg") no-repeat center;
    cursor: pointer;
} 

.popover-login .popover-title {
    grid-column: 2/3;
    grid-row: 2/3;
    margin: 0 0 16px 0;
}

.popover-login input[type="text"]{
    grid-column: 2/3;
    grid-row: 3/4;
}
.popover-login input[type="password"]{
    grid-column: 2/3;
    grid-row: 4/5;
}

.popover-container {
    grid-column: 2/3;
    grid-row: 5/6;
    display: flex;
    align-items: center;
}
.popover-container button {
    margin: 0 32px 0 0;
}

.popover-catalog .popover-catalog-price,
.popover-item-title
{
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    margin: 0;
}
.popover-catalog p {
    display: flex;
    flex-direction: column;
}
.popover-links a{
    margin: 0 0 0 24px;
    color: inherit;
    font-size: 14px;
    padding: 0;
}

.popover input{
    width: 100%;
    color:inherit;
    font-family: inherit;
    line-height: 20px;
    font-size: 16px;
    padding: 14px 16px;
    border:1px solid #B9B9B9;
    box-sizing: border-box;
    border-radius: 4px;
    opacity: 0.3;
}
.menu-phone {    
    font-weight: bold;
    text-decoration: none;
    color: inherit;
    width: 150px;
    margin-left: auto;    
    align-self: center;
}

.navigation-logo {
    margin: 25px 16px 25px 0;
    width: 140px;
}

.page-container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 1170px;
    margin: 0 auto;
}

.banners-list {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    width: 100%;
    margin: 0 auto;
    padding: 0;
}

.banners p {
    margin: 0 0 16px;
}

.banners-item .banners-item-container h3 {
    text-align: left;
    margin: 0px auto 16px 0;
}
.banners-item-container p {
    margin: 0 0 32px;
}

.banners-item {
    border-radius: 16px;
    display: flex;
    width: 570px;
    background: #FF7799;
}

.banners-item-container {
    margin: 40px 15px 0 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
}

.banners-item img {
    align-self: flex-end;    
    margin: 0 15px 0 370px;
    position: absolute;
}

.banners-item-container button {
    margin: 0 0 40px 0;
}

.products-item {
    border-radius: 8px;
    display: grid;
    grid-template-columns: 40px 1fr 40px;
    grid-template-rows: 170px min-content min-content 12px;
    row-gap: 16px;
    width: 270px;
    justify-items: center;
  
}
.products-item-image {
    object-fit: cover;
    position: relative;
    right: 7px;
}
.image-crop {
    height: 165px;
    width: 165px;
    overflow: hidden;
    border-radius: 50%;
    grid-row: 1 / 3;
    grid-column: 2 / 3;
}
.products-item::before {    
    content: '';
    z-index: -1;    
    grid-row: 1 / -1;
    grid-column: 1/-1;
    margin-top: 51px;
    width: 270px;
    background-color: #FCFCFC;
    border-radius: 16px;}

.products-name-container {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
}
.products-name-container p{
    margin: 8px 0 0; 
}
.products-name-container h3 {
    margin: 0;
}
.products-item .price {
    display: flex;
    width: 100%;    
    align-items: center;
    justify-content: space-between;
    text-align: center;
    grid-row: 3 / 4;
    grid-column: 2/3;
}

.products {
    display: flex;
    flex-direction: column;
    margin: 0 0 80px;
}

.products-item img {
    margin: 0 auto;
    border-radius: 50%;
}

.gallery-social-list {
    padding: 0;
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    width: 100%;
}
.gallery-social {
    width: 104px;
}


.gallery-social-item svg{
    box-shadow:0 2px 0 0 #FCFCFC inset,
                0 -2px 0 0 #FCFCFC inset;
    border-radius: 50%;
    outline: 2px solid rgba(252, 252, 252, 0.2);
}
.gallery-social-item:hover svg{
    background: #2D3440;
    outline: 2px solid rgba(252, 252, 252, 0.2);
}

.gallery-social-link:active svg{
    background: #2D3440;
    outline: 2px solid #2D3440;
}

.gallery-container {
    padding: 0;
    position: relative;
}

.slider-pagination {
    display: flex;
    list-style-type: none;
    padding: 0;
}

.slider-pagination-link:hover {
    background: rgba(252, 252, 252, 0.3);
    outline: 1px solid #FCFCFC;
}

.slider-pagination-link:focus {
    background: rgba(252, 252, 252, 0.3);
    outline: 1px solid #2D3440;
}

.slider-pagination-item {
    margin-right: 8px;
}
.slider-pagination-item .pagination-current {
    background: #FCFCFC;
    opacity: 1;
}

.slider-pagination-link {
    background: #FCFCFC;
    opacity: 0.3;
    padding: 6px;
    border-radius: 50%;
    border: 0;
}

.slider-list {
    display: grid;
    grid-template-columns: 40px 820px 100px 100px;
    column-gap: 30px;
    padding: 0;
    margin: 0 ;
}

.slider-item {
    grid-column: 3/4;
    display: flex;
}
.slider-item:last-of-type {
    grid-column: 4/5;
    display: flex;
}
.slider-image-container {
    display: flex;
    position: relative;
    height: 510px;
    align-items: center;
    opacity: 0.4;
    padding: 30px 0 0 0;
}
.slider-item-current {
    grid-column: 2/3;
    grid-row: 1/2;
}
.slider-item-current .slider-image-container {
    opacity: 1;
    padding: 0;
}

.slider-item-current .slider-image-container img{
    width:306px;
    height: 507px;
}
.slider-item-current .slider-image-container::before{
    content: "";
    position:absolute;
    z-index: -1;
    top: 25%;
    width: 312px;
    height: 312px;
    border-radius: 50%;
    background: #FFCBD8;
}
.slider_blue_bg {
    background: #9FC8FF;
}
.slider_yellow_bg {
background: #FCDC92;
}

.slider-image-container::before{
    content: "";
    position:absolute;
    z-index: -1;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: #FFCBD8;
}
.slider-button-container {
    display: flex;
    position: absolute;
    justify-content: space-between;
    width: 350px;
    bottom: 40%;
    left: 520px;
}

.slider-item-container {
    display: none;
    width: 470px;
    justify-content: center;
}
.slider-item-container button {
    margin: 30px 0 0;
}

.slider-item-current .slider-item-container  {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.slider-footer-container {
    display: flex;
    justify-content: space-between;
}

.slider-footer-container ul {
    margin: 16px 0 0;
}

.about-wrap {
    flex-direction: column;
    margin: 24px;
    border-radius: 16px;
    background: #FCFCFC;
    display: flex;
}
.about .about-wrap h3 {
    margin: 56px auto 0;
}
.about-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    list-style-type: none;
    padding: 0;
    margin: 56px 32px 56px 40px;
    row-gap: 40px;
    column-gap: 30px;
}

.about-item {
    display: flex;    
    align-items: flex-start;
}

.about-item img {
    height: 30px;
    padding: 8px;
    border: 1px black solid;
    border-radius: 50%;
    margin: 0 16px 0 0;
}

.about-item p {
    flex-grow: 1;
    margin: 0;
}

.posts-container {
    display: flex;
    justify-content: space-between;
    margin: 0 auto 80px;
    padding: 0;
}

.post-item,
.subscribe {
    border-radius: 16px;
    display: flex;
    width: 570px;
}

.post-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.post-item p {
    margin: 32px 32px 12px;
}
.post-item h3 {
    font-size: 24px;
    line-height: 30px;
    margin: 0 auto 0 32px;
}

.subscribe p {
    margin: 32px;
}

.subscribe-container {
    display: flex;
    margin: 0px 24px 26px 26px;
}

.subscribe-container input {
    flex-grow: 1;
    padding: 14px 14px;
    font: inherit;
    background-color: #FFFFFF;
    border: 1px solid #B9B9B9;
}

.subscribe-container button {
    margin: 0 0 0 24px;
}

.subscribe-wrap {
    display:flex;
    flex-direction: column;
    background-color: #FCFCFC;
    border-radius: 16px;
    margin: 6px;
}
.subscribe-wrap p {
    margin: 26px 26px 42px;
}
.delivery-container {
    display: flex;
    justify-content: space-between;
    width: 1170px;
    margin: 0 auto 80px;
    padding: 0;
}

.delivery-title-container {
    display: flex;
    width: 370px;
    margin: 0 auto 0 100px;
    flex-direction: column;
    justify-content: center;
}

.delivery-container .delivery-title-container h3 {
    text-align: left;
    margin: 40px 0 0;
}

.delivery-form {
    display: grid;
    grid-template-columns: 117px 287px;
    gap: 16px;
    background: #FCFCFC;
    border-radius: 8px;
    margin: 64px 64px 64px auto;
    padding: 40px;
}
.delivery-form button {
    grid-column: 1 / -1;
    justify-self: center;
}

.delivery-form p:first-of-type {
    grid-column: 1 / -1;
    margin: 0 0 16px 0;
}
.delivery-form p {
    margin: 0;
}

.form-label input {
    font-size: 16px;
    margin: 8px 0 0 0;
}
.form-label-icon button {
    margin: 0 5px;
}
.delivery-form-address {
    grid-column: 1 / -1;
}

.delivery-form-date,
.delivery-form-address {
    display: flex;
    flex-direction: column;
}
.delivery-form-phone .form-label {
    display: flex;    
    flex-direction: column;
}

.delivery-form-date input::-webkit-inner-spin-button,
.delivery-form-date input::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}

.contacts {
    margin: 0 0 48px;
}

.contacts-container .button {
    margin: 0 0 40px 0;
    align-self: center;
}

.contacts-subtitle {
    margin: 0 40px 12px;
}

.contacts-subtitle:first-of-type {
    margin: 40px 40px 12px;
}

.contacts-address {
    display: block;
    margin: 0 40px 24px;
}

.contacts-container {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 345px;
    border-radius: 8px;
    margin: 64px auto 64px 64px;
    background: #FCFCFC;
}
.contacts-phone {
    margin: 0 40px 0;
}
.contacts-phone-text {
 margin: 0 0 32px;
 font-size: 14px;
}

.catalog-products {
    display: flex;
    width: 1170px;
}

.catalog-filter {
    display: flex;
    column-gap: 24px;
    flex-wrap: wrap;
    width: 850px;
    margin: 0 auto 48px 0;
    align-items: flex-end;
}

.catalog-filter-list {
    margin: 0;
    padding: 0;
    display: flex;
    list-style-type: none;
    background: rgba(252, 252, 252, 0.3);
    border-radius: 20px;
}
.catalog-products-container {
    display: flex;
    flex-direction: column;
}
.products-list {
    padding: 0;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 40px;
    column-gap: 30px;
    list-style-type: none;
}

.products {
    margin: 0 0 80px;
}

.pagination {
    display: flex;
    list-style-type: none;
    justify-content: flex-end;
    padding: 0;
}

.pagination-more {
    margin: 57px 0 40px;
    display: flex;
    justify-content: flex-end;
}

.pagination-more button {
    margin: 0 325px 0 0;
}
.pagination-item .pagination-current {
    border-radius: 50%;        
    background: #FCFCFC;
    display:inline-block;
    width: 24px;
}
.pagination-item {
    text-align: center;
    width: 24px;
    height: 24px;
    border-radius: 50%;
}

.pagination-item:hover {
    background: rgba(252, 252, 252, 0.3);
    outline: 1px solid #FCFCFC;
}

.pagination-item:focus {
    background: rgba(252, 252, 252, 0.3);
    outline: 1px solid #2D3440;
}

.pagination-disabled svg path{
    fill: #2D3440;
    opacity: 0.2;
}
.pagination-disabled {
    background: none;
}

.pagination-prev, .pagination-next  {
    display: flex;
    align-items: center;
    justify-content: center;
} 



.pagination-disabled:hover,
.pagination-disabled:active,
.pagination-disabled:focus {
    background: none;
    outline: none;
    border: none;
}

/* ---------------fonts */

.navigation-link {
    font-size: 16px;
    line-height: 20px;
    color: inherit;
    text-decoration: none;
}
.navigation-user a{
    font-size: 14px;
    line-height: 20px;
    color: inherit;
    text-decoration: none;
}

.contacts-phone-link {
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    color: inherit;
}

.slider-item h3 {
    font-weight: 900;
    font-size: 36px;
    line-height: 46px;
    color: inherit;
    margin: 32px 0 10px;
}

.slider-item p {
    font-size: 18px;
    line-height: 24px;
    color: inherit;
}
.tooltip {
    border: 0;
    padding: 0;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    outline: none;
    border-radius: 50%;
    background: 0;
    cursor: pointer;
    position: relative;
}
.tooltip:hover .tooltiptext {
    visibility: visible;
}
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #FCFCFC;
    color: inherit;
    text-align: center;
    padding: 5px 5px;
    position: absolute;
    border: 1px solid #B9B9B9;
    box-shadow: 0px 2px 12px rgba(173, 152, 143, 0.18);
    border-radius: 1px;
    z-index: 1;
    top: -12px;
    left: 20px;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 35%;
    right: 98%;
    height:7px;
    width: 7px;
    transform: rotate(45deg);
    background: white;
    border:inherit;
    border-right: 0;
    border-top: 0;    
}

.delivery-form-address .tooltip .tooltiptext::after {
    top: 25%;
    right: 97%;
}
  

.slider-button {
    position: relative;
    outline: 2px solid #FCFCFC;
    width: 38px;
    height: 38px;
    border: 0;
    border-radius: 50%;
    background: rgba(252, 252, 252, 0.3);
} 
.slider-button:hover {
    background: #FCFCFC;
} 
.slider-button:hover svg path{
    fill: #2D3440;
}

.slider-button:focus {
    fill: #2D3440;
    outline: 2px solid #2D3440;
    background: rgba(252, 252, 252, 0.3);
} 
.slider-button:focus svg path{
    fill: #2D3440;
}

.slider-button:active {
    outline: 2px solid rgba(252, 252, 252, 0.5);
    background: rgba(252, 252, 252, 0.3);
} 

.slider-button:active svg path{
    fill: rgba(252, 252, 252, 0.5);
}

.button-main {
    font-family: inherit;
    font-style: inherit;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    text-decoration: none;
    color: #2D3440;
    padding: 12px 32px;
    border-radius: 26px;
    border: 0;
    background: rgba(252, 252, 252);
    outline: 4px solid rgba(252, 252, 252, 0.4);
    margin: 16px 0;    
    cursor: pointer;
}


.button-main:hover {
    background: rgba(252, 252, 252, 0.4);
    outline: 4px solid rgba(252, 252, 252);
}


.button-main:focus {
    background: rgba(252, 252, 252, 0.4);
    outline: 2px solid #2D3440;
}

.button-main:disabled {
    opacity: 0.3;
}


.button-cart {
    background: #FF2F64;
    font-family: inherit;
    font-style: inherit;
    font-weight: bold;  
    padding: 9px 9px;
    border-radius: 50%;    
    cursor: pointer;
    display: flex;
    border:0;
    outline: 1px solid rgba(252, 252, 252);
}

.button-cart:hover{
    background: #FCFCFC;
    outline: 1px solid #FF2F64;
}

.button-cart:hover svg path{
    fill: #2D3440;
}


.button-cart:focus {
    border: 0;
    border-radius: 50%;
    outline: 1px solid #2D3440;
}

.button-cart:focus svg path{
    fill: #FCFCFC;
}
.button-cart:active svg path{
    fill: #2D3440;
}


.button-cart:active:hover svg path{
    fill: #2D3440;
}

.button-cart:disabled {
    background: #B9B9B9;
    outline: 1px solid #B9B9B9;
}

.button-cart:disabled svg path{
    fill: #2D3440;
}

.filter-button {
    font-family: inherit;
    font-style: inherit;
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    text-decoration: none;
    color: #2D3440;
    background:  rgba(252, 252, 252, 0.3);
    padding: 8px 53px;
    border-radius: 26px;    
    border: 0;
    outline: 1px solid rgba(252, 252, 252);
    cursor: pointer;
    margin: 0 0 0 12px;
}

.filter-button:hover {
    background:  rgba(252, 252, 252);
    border-radius: 26px;    
    border:0;
    outline: 1px solid rgba(252, 252, 252, 0.3);
}

.filter-button:focus {
    background:  rgba(252, 252, 252, 0.3);
    border-radius: 26px;    
    border:0;
    outline: 1px solid #2D3440;
}

.filter-button:focus {
    opacity: 0.3;
}

.button-minor {
    background: #FF2F64;
    font-family: inherit;
    font-style: inherit;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    text-decoration: none;
    color: #FCFCFC;
    padding: 12px 32px;
    border-radius: 26px;
    border:0;
    outline: 4px solid rgba(255, 47, 100, 0.3);
    background-clip: padding-box; 
    cursor: pointer;
}
.button-minor:hover {
    background: #FCFCFC;
    color: #2D3440;
    border:0;
    outline: 4px solid #FF2F64;
}
.button-minor:focus {
    background: #FF2F64;
    color: #FCFCFC;
    border:0;
    outline: 2px solid #2D3440;
}
.button-minor:disabled {
    background: #B9B9B9;
    color: #2D3440;
    outline: 4px solid rgba(185, 185, 185, 0.3);
}

.delivery h3,
.about h3,
.banners h3,
.products h3 {
    font-weight: 900;
    font-size: 32px;
    line-height: 46px;
    text-align: center;
    color: inherit;
    margin: 80px auto 56px;
}

.banners-item h3 {
    font-size: 24px;
    line-height: 30px;
    color: inherit;
}

.products-name-container .products-name {
    margin: 0;
    color: #2D3440;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    color: inherit;
    text-align: center;
}

.products-price {
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    color: inherit;
}

.post_item p {
    font-size: 16px;
    line-height: 20px;
    color: inherit;
}

.post_item h3 {
    font-size: 24px;
    line-height: 30px;
    color: inherit;
}
.products-item p {
    text-align: center;
}
.subscribe p,
.delivery p,
.contacts-subtitle,
.products-item-link p,
.about-item p,
.products-item p {
    color: #565C66
}

.form-label label {
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: inherit;
}

.delivery-form-date input, .delivery-form-address input{
    margin: 8px 0 0 0;
}
.delivery-form > button {
    margin: 16px 0 0 0;
}
.delivery-form input {
  padding: 14px 14px;
  font: inherit;
  background-color: #FFFFFF;
  border: 1px solid #B9B9B9;
}
.contacts-text {
    text-decoration: none;
    font-size: 14px;
    line-height: 20px;
    color: #565C66
}

.contacts-address-text {
    font-style: normal;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    color: inherit;
    margin: 0;
}

.page-footer {
    width: 1170px;
}

.footer-social {
    margin: 0 0 50px;
}

.footer-menu {
    margin: 0 0 0 300px;
    width: 356px;
    display: flex;
    flex-direction: row;
}

.footer-menu-list-title {
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    color: inherit;
    margin: 0;
}

.footer-menu-list {
    align-self: flex-start;
    display: grid;
    grid-template-columns: max-content max-content;
    grid-row: 1fr 1fr;
    grid-column-gap: 24px;
    list-style-type: none;
    align-content: center;
    padding: 0;
    margin: 0;
}

.footer-menu-item {
    margin: 0;
}

.footer-menu-link {
    font-size: 14px;
    line-height: 20px;
    color: inherit;
    text-decoration: none;
}
.footer-menu img {
    width: 16px;
    height: 16px;
    margin:3px 8px;
}

.footer-social-list {
    margin: 0;
    list-style-type: none;
    padding: 0;
}

.footer-social-item {
    margin: 0 16px 0 0;
}

.footer-social-item a svg {
    box-shadow:0 2px 0 0 #FCFCFC inset,
    0 -2px 0 0 #FCFCFC inset;
    border-radius: 50%;
    outline: 2px solid rgba(252, 252, 252, 0.2);
}
.footer-social-item a:hover svg{
    background: #2D3440;
    outline: 2px solid rgba(252, 252, 252, 0.2);
}
.footer-social-item a:active svg{
    background: #2D3440;
    outline: 2px solid #2D3440;
}

.copyright {
    margin: 0 0 0 auto;
}

.copyright-container {
    margin: 0 15px 0 auto;
    width: 193px;
    display: flex;
    flex-direction: column;
}

.about-text {
    font-size: 12px;
    line-height: 16px;
    color: inherit;
}

.navigation-link-current {
    background: #FF4A78;
    font-size: 16px;
    line-height: 20px;
    color: #FCFCFC;
    text-decoration: none;
    border-radius: 26px;
    padding: 8px 16px;
}

.breadcrumbs {
    display: flex;
    margin: 0 0 16px;
    padding: 0;
    list-style-type: none;
}

.breadcrumbs-item {
    margin: 0 11px 0 0;
}


.breadcrumbs-link {
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    color: inherit;
}
.breadcrumbs li+li::before {
    content: "\00bb";    
    margin: 0 11px 0 0;
}

.sorting-type {
    border: 0;
    display: flex;
    padding: 0;
    margin: 0;
}
.sorting-type legend{
    position: relative;
    left: 10px;
}

.select-control { 
    display: inline-block;
    background: rgba(252, 252, 252, 0.3) url("../img/icons/arrow-down.svg") no-repeat;
    background-position: right 10px top 50%;
    width: 160px;
    font-size: 14px;
    line-height: 20px;
    position: relative;
    border-radius: 20px;
    border: 0;
    padding: 8px 14px;
    appearance: none;
    cursor: pointer;
}


.select-control:hover {
    background: rgba(252, 252, 252, 0.5) url("../img/icons/arrow-down.svg") no-repeat;
    background-position: right 10px top 50%;
} 


.select-control:focus {
    background: rgba(252, 252, 252, 0.4) url("../img/icons/arrow-down.svg") no-repeat;
    background-position: right 10px top 50%;
    outline: 2px solid #FCFCFC;
} 

.filter-wrap {
    display: flex;
    background: rgba(252, 252, 252, 0.3);
    border-radius: 26px;
}

.control-input[type="radio"]:checked + .custom-radio path {
    d: path("M14.6667 8C14.6667 11.6819 11.6819 14.6667 8 14.6667C4.3181 14.6667 1.33333 11.6819 1.33333 8C1.33333 4.3181 4.3181 1.33333 8 1.33333C11.6819 1.33333 14.6667 4.3181 14.6667 8ZM8 16C12.4183 16 16 12.4183 16 8C16 3.58172 12.4183 0 8 0C3.58172 0 0 3.58172 0 8C0 12.4183 3.58172 16 8 16ZM8 11C9.65685 11 11 9.65685 11 8C11 6.34315 9.65685 5 8 5C6.34315 5 5 6.34315 5 8C5 9.65685 6.34315 11 8 11Z");
}


.control-input[type="radio"]:hover + .custom-radio path {
    fill: #FCFCFC;
}

.control-input[type="radio"]:disabled + .custom-radio path {
    opacity: 0.5;
}

input[type="checkbox"] {
    display: none;
}

input[type="checkbox"]:checked + .checkbox path{
    d: path('M1.61526 1.61526C1.79573 1.43471 2.04045 1.33333 2.29556 1.33333H11.2544C11.6226 1.33333 11.9211 1.03486 11.9211 0.666667C11.9211 0.298477 11.6226 0 11.2544 0H2.29556C1.68665 0 1.10273 0.241993 0.672253 0.672654C0.241784 1.1033 0 1.68733 0 2.29624V13.7033C0 14.3122 0.241784 14.8962 0.672253 15.3269C1.10273 15.7575 1.68665 15.9995 2.29556 15.9995H13.6978C14.3067 15.9995 14.8906 15.7575 15.3211 15.3269C15.7515 14.8962 15.9933 14.3122 15.9933 13.7033V7.99976C15.9933 7.63157 15.6949 7.3331 15.3267 7.3331C14.9585 7.3331 14.66 7.63157 14.66 7.99976V13.7033C14.66 13.9588 14.5586 14.2037 14.3781 14.3843C14.1976 14.5648 13.9529 14.6662 13.6978 14.6662H2.29556C2.04045 14.6662 1.79573 14.5648 1.61526 14.3843C1.43478 14.2037 1.33333 13.9588 1.33333 13.7033V2.29624C1.33333 2.04077 1.43478 1.79582 1.61526 1.61526ZM15.8166 1.9404C16.0698 1.6731 16.0584 1.25115 15.7911 0.997933C15.5238 0.74472 15.1019 0.756136 14.8486 1.02343L7.61402 8.66042L5.78242 6.72695C5.52921 6.45966 5.10725 6.44824 4.83996 6.70145C4.57266 6.95467 4.56125 7.37662 4.81446 7.64392L7.13004 10.0883C7.25594 10.2212 7.43095 10.2965 7.61402 10.2965C7.79709 10.2965 7.9721 10.2212 8.098 10.0883L15.8166 1.9404Z');
}
input[type="checkbox"]:hover + .checkbox path{
    fill: #FCFCFC;
}

input[type="checkbox"]:disabled + .checkbox path{
    opacity: 0.5;
}
.catalog-filter-group {
    border: 0;
    display: flex;
    padding: 0;
    margin: 0;
}

.price-filter-wrapper {
    padding: 0 16px;
    height: 36px;
    display: flex;
    border-radius: 26px;
    background: rgba(252, 252, 252, 0.3);
    align-items: center
}

.price-filter legend {
    display: flex;
}
.range-scale {
    position: relative;
    height: 4px;
    width: 164px;
    background: rgba(185, 185, 185, 0.3);
    border-radius: 2px;    
}

.range-bar {
    position: absolute;
    height: 4px;
    background-color: #565C66;
    width: 56px;
    left: 40px;
}

.range-toggle {
    position: absolute;
    padding: 0;
    width: 4px;
    height: 4px;
    background: #FCFCFC;
    border: 6px solid #2D3440;
    border-radius: 50%;
    cursor: pointer;
    box-sizing: content-box;
}

.range-toggle:hover,
.range-toggle:focus {    
    background: #2D3440;
    border: 6px solid #FCFCFC;
    box-sizing: content-box;
} 

.range-toggle:hover {
 outline: 2px solid #2D3440;
}

.range-toggle:active {

    border: 6px solid #2D3440;
    background: #2D3440;
}

  .toggle-min {
    top: -6px;
    left: -10px;
}
  
  .toggle-max {
    top: -6px;
    right: -10px;
}


.range-wrapper-inputs {
    display: flex;
    justify-content: center;
}
  
.range-input {
    width: 30px;
    padding: 0 2px;
    font: inherit;
    text-align: center;
    background-color: transparent;
    border: none;
}
  
.range-input::-webkit-outer-spin-button,
.range-input::-webkit-inner-spin-button {
    appearance: none;
    margin: 0;
}

.catalog-filter-label {
    display: flex;
    margin-right: 5px;
}
  
  .range-input {
    width: 30px;
    padding: 0 2px;
    font: inherit;
    text-align: center;
    background-color: transparent;
    border: none;
    appearance: textfield;
}
  
  .range-input::-webkit-outer-spin-button,
  .range-input::-webkit-inner-spin-button {
    appearance: none;
    margin: 0;
}
  

.control:first-of-type {
    margin: 8px 16px 8px 16px;
}
.control {
    display:flex;
    margin: 8px 16px 8px 0px;    
    align-items: center;
}

.control svg {
    margin: 0 8px 0 0;
}
.catalog-filter-title {
    position: relative;
    left: 10px;
}
.inner-header-title {
    font-weight: 900;
    font-size: 32px;
    line-height: 46px;
    color: inherit;
}

.sorting-type label,
.catalog-filter-title,
.control-label,
.catalog-filter-input {
    font-size: 14px;
    line-height: 20px;
    color: inherit;
}

.products-item-link {
    text-align: center;
    text-decoration: none;
    color: #2D3440;
}

.products-item-title {
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
}

.products-item-price {
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    color: inherit;
}

.pagination-link {
    font-size: 16px;
    line-height: 20px;
    color: inherit;
    text-decoration: none;
}
.pagination-current {
  line-height: 24px;
}
.about {
    background: url("../img/backgrounds/background-about.jpg") no-repeat;
    width: 1170;
    border-radius: 16px;
    display: flex;
    margin: 0 0 80px 0;
    background-size: cover;
}

.post-item {
    background: url("../img/backgrounds/background-blog.jpg") no-repeat;
    width: 570;
    border-radius: 16px;    
    background-size: cover;
}

.subscribe {
    background: url("../img/backgrounds/background-feedback.jpg") no-repeat;
    width: 570;
    border-radius: 16px;
    background-size: cover;
}

.delivery-container {
    background: url("../img/backgrounds/background-delivery.jpg") no-repeat;
    border-radius: 16px;
    background-size: cover;
}

.contacts {
    background: url("../img/backgrounds/background-contact.jpg") no-repeat;
    width: 1170;
    border-radius: 16px;
    background-size: cover;
}