@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/Inter-400.woff2");
    font-display: swap;
}

@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/Inter-700.woff2");
    font-display: swap;
}

@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 900;
    src: url("../fonts/Inter-900.woff2");
    font-display: swap;
}

html {
    height: 100%;
}

body {
    font-family: Inter, Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #2D3440;
    background: #FEAFC3;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.page-footer {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    padding: 0;
    width: 1366px;
}

.footer-social-list {
    margin-right: auto;
    width: 104px;
    display: flex;
    flex-direction: row;
}

.footer-menu-container {
    margin-left: 300px;
    width: 356px;
    display: flex;
    flex-direction: row;
}

.post-item {
    width: 570px;
}

.subscribe {
    width: 570px;
}

.copyright-container {
    margin-left: auto;
    width: 193px;
    display: flex;
    flex-direction: row;
}

.main-container {
    flex-grow: 1;
}

.navigation {
    display: flex;
    margin: 0 auto;
    width: 1170px;
}

.navigation-list {
    margin: 0;
    padding: 0;
}

.navigation-list {
    width: 400px;
    margin: 0;
    padding: 0;
}

.navigation-user {
    width: 420px;
    margin-left: auto;
}

.navigation-logo {
    width: 140px;
    margin-right: auto;
}

.page-container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 1366px;
    margin: 0 auto;
}

.banners-list {
    display: flex;
    justify-content: space-between;
    width: 1170px;
    margin: 0;
    padding: 0;
}

.banners-item {
    width: 570px;
    background: #FF7799;
}

.products-list {
    display: flex;
    justify-content: space-between;
    width: 1170px;
    margin: 0;
    padding: 0;
}

.products-item {
    width: 270px;
}

.gallery-container {
    display: flex;
    justify-content: space-between;
    padding: 0;
    align-items: center;
}

.gallery-social {
    width: 104 px;
    align-self: flex-end;
}

.about-list {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

.posts_container {
    display: flex;
    justify-content: space-between;
    width: 1170px;
    margin: 0;
    padding: 0;
}

.delivery-container {
    display: flex;
    justify-content: space-between;
    width: 1170px;
    margin: 0;
    padding: 0;
}

.delivery-container h3 {
    margin-right: auto;
}

.delivery-form {
    margin-left: auto;
    margin-right: 64px;
    margin-top: 64px;
    margin-bottom: 64px;
}

.contacts-container {
    margin-right: auto;
    margin-left: 64px;
    margin-top: 64px;
    margin-bottom: 64px;
}

.catalog-products {
    display: flex;
    width: 1170px;
}

.catalog-filter {
    width: 810px;
    margin-right: auto;
}


/* ---------------fonts */

.navigation-link {
    font-size: 16px;
    line-height: 20px;
    color: inherit;
    text-decoration: none;
}

.contacts-phone-link {
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    color: inherit;
}

.slider-pagination-item h3 {
    font-weight: 900;
    font-size: 36px;
    line-height: 46px;
    color: inherit;
}

.slider-pagination-item p {
    font-size: 18px;
    line-height: 24px;
    color: inherit;
}

.button-main {
    font-family: inherit;
    font-style: inherit;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    text-decoration: none;
    color: #2D3440;
}

.filter-button {
    font-family: inherit;
    font-style: inherit;
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    text-decoration: none;
    color: #2D3440;
}

.button-minor {
    background: #FF2F64;
    font-family: inherit;
    font-style: inherit;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    text-decoration: none;
    color: #FCFCFC;
}

.delivery h3,
.about h3,
.banners h3,
.products h3 {
    font-weight: 900;
    font-size: 32px;
    line-height: 46px;
    text-align: center;
    color: inherit;
}

.banners-item h3 {
    width: 570px;
    font-size: 24px;
    line-height: 30px;
    color: inherit;
}

.products-name {
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    color: inherit;
    text-align: center;
}

.products-price {
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    color: inherit;
}

.post_item p {
    font-size: 16px;
    line-height: 20px;
    color: inherit;
}

.post_item h3 {
    font-size: 24px;
    line-height: 30px;
    color: inherit;
}

.subscribe p,
.delivery p,
.contacts-subtitle,
.product-card-link p,
.about-item p,
.products-item p {
    color: #565C66
}

.form-label label {
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: inherit;
}

.contacts-text {
    text-decoration: none;
    font-size: 14px;
    line-height: 20px;
    color: #565C66
}

.contacts-address-text {
    font-style: normal;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    color: inherit;
}

.footer-menu-title {
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    color: inherit;
}

.footer-menu-link {
    font-size: 14px;
    line-height: 20px;
    color: inherit;
    text-decoration: none;
}

.about-text {
    font-size: 12px;
    line-height: 16px;
    color: inherit;
}

.navigation-link-current {
    background: #FF4A78;
    font-size: 16px;
    line-height: 20px;
    color: #FCFCFC;
    text-decoration: none;
}

.breadcrumbs-link {
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    color: inherit;
}

.inner-header-title {
    font-weight: 900;
    font-size: 32px;
    line-height: 46px;
    color: inherit;
}

.sorting-type label,
.catalog-filter-title,
.control-label,
.catalog-filter-input {
    font-size: 14px;
    line-height: 20px;
    color: inherit;
}

.product-card-link {
    text-decoration: none;
}

.product-card-title {
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    color: #2D3440;
    text-align: center;
}

.product-card-price {
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    color: inherit;
}

.pagination-link {
    font-size: 16px;
    line-height: 20px;
    color: inherit;
    text-decoration: none;
}

.about {
    background: url("../img/backgrounds/background-about.jpg") no-repeat;
    width: 1170;
    height: 480;
}

.post_item {
    background: url("../img/backgrounds/background-blog.jpg") no-repeat;
    width: 570;
    height: 216;
}

.subscribe {
    background: url("../img/backgrounds/background-feedback.jpg") no-repeat;
    width: 570;
    height: 220;
}

.delivery {
    background: url("../img/backgrounds/background-delivery.jpg") no-repeat;
    width: 1170;
    height: 534;
}

.contacts {
    background: url("../img/backgrounds/background-contact.jpg") no-repeat;
    width: 1170;
    height: 492;
}